* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
  'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
  'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas,
  'Courier New', monospace;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main, .registration-container {
  flex: 1;  /* заставляет форму занимать свободное пространство */
  display: flex;
  justify-content: center;
  align-items: center;
}